{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block title %}Identity Manager{% endblock %}


{% block content %}

<!-- AddID modal window -->
<div class="modal fade" tabindex="-1" role="dialog" id="windowAddID">
    <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Identity sources</h4>
			</div>
			<div class="modal-body" id="modal-body-id" >
				<div id="identity-sources-select-buttons" style="display: none;">
					<br><br>
					<div  class="form-inline text-center">
						<div class="form-group mb-2">
							<button type="button" class="btn btn-primary mb-2" onclick="funcAddID('eIDAS');">eIDAS</button>
						</div>
						<div class="form-group mb-2">
							<button type="button" class="btn btn-primary mb-2" onclick="funcAddID('eduGAIN');">eduGAIN</button>
						</div>
						<div class="form-group mb-2">
							<button type="button" class="btn btn-primary mb-2" onclick="funcAddID('eMRTD');">eMRTD</button>
						</div>
					</div>
					<br>
					<div class="form-group row text-center" style="color: red;"> 
						<p id="identity-sources-button-error" style="display: none;">The selected source is not available...</p>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal AddID -->


<!-- IdRecon modal window -->
<div class="modal fade" tabindex="-1" role="dialog" id="windowIdRecon">
    <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Reconciliation methods</h4>
			</div>
			<div class="modal-body" id="modal-body-id" >
				<div id="reconciliation-methods-select-buttons" style="display: none;">
					<br><br>
					<div  class="form-inline text-center">
						<div class="form-group mb-2">
							<button type="button" class="btn btn-primary mb-2" onclick="idSelector('autoSEAL');">Auto</button>
						</div>
						<div class="form-group mb-2">
							<!-- Disable for now because of a WIP status: Pending. -->
							<button type="button" class="btn btn-primary mb-2" disabled onclick="/*funcIdRecon('manualXYZ');*/">Manual</button>
						</div>
					</div>
					<br>
					<div class="form-group row text-center" style="color: red;"> 
						<p id="reconciliation-methods-button-error" style="display: none;">The selected methods is not available...</p>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal IdRecon -->


<!-- IdSelec modal window -->
<div class="modal fade" tabindex="-1" role="dialog" id="windowIdSelec">
    <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Identities Selector</h4>
			</div>
			<div class="modal-body" id="modal-body-id" >
				<div id="idSelec-selector" style="display: none;" class="form-group mb-2">
					<p>Please select two identities to make a reconciliation request:</p>
					<br>
					<label for="datasetIDa">Identity A selector:</label>
					<select id="datasetIDa" class="form-control mb-2" onchange="funcToggleRequestButton()" required>
						<option disabled selected style="display: none" value='0'>Select an Identity</option>
					</select>
					<br>
					<br>
					<label for="datasetIDb">Identity B selector:</label>
					<select id="datasetIDb" class="form-control mb-2" onchange="funcToggleRequestButton()" required>
						<option disabled selected style="display: none" value='0'>Select an Identity</option>
					</select>
					<br>
					<br>
					<div class="form-inline text-center">
						<button type="button" id="idSelec-cancel-button" class="btn btn-danger btn-primary text-center mb-2" onclick="$('#windowIdSelec').modal('hide');">Cancel</button>
						<button type="button" id="idSelec-request-button" class="btn btn-primary text-center mb-2" disabled>Request</button>
					</div>
				</div>
				<div class="form-group row text-center" style="color: red;"> 
					<p id="idSelec-error" style="display: none;">There is no identities to link. Please, retrieve at least two identities to retry.</p>
				</div>
				<div class="form-group row text-center"> 
					<p id="idSelec-request-sent-auto" style="display: none;">Your request has been sent successfully.</p>
					<p id="idSelec-request-sent-manual" style="display: none;">Your request has been sent successfully. You can check its status by using the Identity Reconciliation Status button.</p>

				</div>
				<div class="form-group row text-center"> 
					<p id="idSelec-request-not-sent" style="display: none;">There was a problem with the request. Please, try it again or use the manual reconciliation method instead.</p>
				</div>
			</div>
		</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal IdSelec -->


<!-- VCIssue modal window -->
<div class="modal fade" tabindex="-1" role="dialog" id="windowVCIssue">
    <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Verifiable Credential sources</h4>
			</div>
			<div class="modal-body" id="modal-body-id" >
				<div id="vcissuing-methods-select-buttons" style="display: none;">
					<br><br>
					<div  class="form-inline text-center">
						<div class="form-group mb-2">
							<button type="button" class="btn btn-primary mb-2" onclick="funcVCIssue('eIDAS');">eIDAS</button>
						</div>
						<div class="form-group mb-2">
							<button type="button" class="btn btn-primary mb-2" onclick="funcVCIssue('eduGAIN');">eduGAIN</button>
						</div>
						<div class="form-group mb-2">
							<button type="button" class="btn btn-primary mb-2" onclick="funcVCIssue('eMRTD');">eMRTD</button>
						</div>
						<!-- 'eIDAS-eduGAIN new vc_moduleID button added' -->
						<div class="form-group mb-2">
							<button type="button" class="btn btn-primary mb-2" onclick="funcVCIssue('eIDAS-eduGAIN');">eIDAS-eduGAIN</button>
						</div>	
						<!-- 'end eIDAS-eduGAIN button' -->
					</div>
					<br>
					<div class="form-group row text-center" style="color: red;"> 
						<p id="vcissuing-methods-button-error" style="display: none;">The selected VC source is not available now...</p>
						<p id="vcissuing-identity-button-error" style="display: none;">You have to retrieve an identity first</p>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal VCIssue -->


<!-- StorePDS modal window -->
<div class="modal fade" tabindex="-1" role="dialog" id="windowLocalPDS">
    <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Store PDS</h4>
			</div>
			<div class="modal-body" id="modal-body-id" >
				<div id="cloud-select-buttons" style="display: none;">
					<br><br>
					<div  class="form-inline text-center">
						<div class="form-group mb-2">
							<button type="button" class="btn btn-primary mb-2" onclick="funcCloudStorePDS('googleDrive');">Google Drive</button>
						</div>
						<div class="form-group mb-2">
							<button type="button" class="btn btn-primary mb-2" onclick="funcCloudStorePDS('oneDrive');">Microsoft OneDrive</button>
						</div>
					</div>
					<br>
					<div class="form-group row text-center" style="color: red;"> 
						<p id="cloud-button-error" style="display: none;">The selected method is not available now...</p>
					</div>
				</div>
				<div id="local-select-buttons" style="display: none;">
					<br><br>
					<div  class="form-inline text-center">
						<div class="form-group mb-2">
							<button type="button" class="btn btn-primary mb-2" onclick="funcLocalStorePDS('Browser');">Local File</button>
						</div>
						<div class="form-group mb-2">
							<button type="button" class="btn btn-primary mb-2" onclick="funcLocalStorePDS('Mobile');">Continue on mobile</button>
						</div>
					</div>
					<br>
					<div class="form-group row text-center" style="color: red;"> 
						<p id="local-button-error" style="display: none;">The selected method is not available now...</p>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal StorePDS -->


<!-- Form for Generic submit -->
<form id="GenericForm" method="post" action="" enctype="multipart/form-data" target="Generic-window">
	<input type="hidden" name="msToken" value="" />
</form>
<!-- END Form for Generic submit -->


<div class="container">
	
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Save PDS file</h3>
		</div>
		<div class="panel-body">
			<div class="list-group">
				<a href="javascript:void(0)" class="list-group-item" onclick="funcModalWindowPDS('LOCAL');">
					<h4 class="list-group-item-heading">Local Storage</h4>
					<p class="list-group-item-text">It saves the PDS in the local filesystem</p>
				</a>
				<a href="javascript:void(0)" class="list-group-item" onclick="funcModalWindowPDS('CLOUD');">
					<h4 class="list-group-item-heading">Cloud Storage</h4>
					<p class="list-group-item-text">It saves the PDS in the Cloud</p>
				</a>
			</div>
		</div>
	</div>
  
	<div class="panel panel-info">
		<div class="panel-heading"><a id="identity-manager-panel-heading"></a>
			<h3 class="panel-title">Identity Manager</h3>
		</div>
		<div class="panel-body">

			<div class="list-group">
				<a href="javascript:void(0)" id='manage_identity_data' class="list-group-item">
					<h4 class="list-group-item-heading">Manage Identity Data</h4>
					<p class="list-group-item-text">It shows the identity data loaded from the storage into session</p>
				</a>
			</div>

			<div class="list-group">
				<a class="list-group-item">
					<h4 class="list-group-item-heading">Configure Data Store</h4>
					<p class="list-group-item-text">Here you can select available persistence modules</p>
				</a>
			</div>

			<div class="list-group">
				<a href="javascript:void(0)" class="list-group-item" onclick="funcModalWindow('AddID');">
					<h4 class="list-group-item-heading">Retrieve Identity Data</h4>
					<p class="list-group-item-text">Here you can select available identity sources</p>
				</a>
			</div>

			<div class="list-group">
				<a href="javascript:void(0)" class="list-group-item" onclick="funcModalWindow('IDRecon');">
					<h4 class="list-group-item-heading">Identity Reconciliation</h4>
					<p class="list-group-item-text">It shows a selector of available Identity Reconciliation Module</p>
				</a>
			</div>

			<div class="list-group">
				<a class="list-group-item">
					<h4 class="list-group-item-heading">Identity Reconciliation Status</h4>
					<p class="list-group-item-text">It allows the user to check the result of a requested reconciliation procedure and store the generated data set</p>
				</a>
			</div>

			<div class="list-group">
				<a href="javascript:void(0)" class="list-group-item" onclick="funcModalWindow('VCIssue');">
					<h4 class="list-group-item-heading">Issue Verifiable Credentials</h4>
					<p class="list-group-item-text">It shows the available Verifiable Credential Module</p>
				</a>
			</div>

			<div class="list-group">
				<a href="javascript:void(0)" class="list-group-item" onclick="funcIdDeriv('UUID');">
					<h4 class="list-group-item-heading">Derive Identifier</h4>
					<p class="list-group-item-text">Here you can derive a new identifier for your latest retrieved identity</p>
				</a>
			</div>

		</div>
	</div>

</div>	
{% endblock %}


{% block javascript_pie %}
    {{block.super}}
    <script nonce="{{settings.VARIABLE_NONCE_CSP}}">
		$(document).ready(function() {			
			if(window.location.href[window.location.href.length-1] != '/'){
				window.location.href = window.location.href + '/'
			}

			if(sessionStorage.getItem('data') != null){
				$('#manage_identity_data').attr('href', 'manageidentitydata=' + sessionStorage.getItem('data'));
			}else{
			
				setTimeout(function(){ alert('You have no active session, please try to authenticate again.'); window.location = '{{seal_endpoint}}' }, 1000);
			}
		});

	    // Global variables
		window.globalInterval;
		window.watchDogInterval;
		window.currentWindow;

		window.intervalTimerValue = 1500;   // 3* 1000 = 3 * 1 sec(ms) = 3 sec -> to 1.5 sec
		window.watchdogTimerValue = 300000; // 5 * 60000 = 5 * 1 min(ms) = 5 min


		function funcToggleRequestButton() {

			if(document.getElementById('datasetIDa').value != '0' && document.getElementById('datasetIDb').value != '0') {
				$('#idSelec-request-button').attr('disabled', false);
			} else {
				$('#idSelec-request-button').attr('disabled', true);
			}
		}


		function funcModalWindow(mode) {

			if (mode == 'AddID') {
				// Close other modal windows:
				$('#windowIdRecon').modal('hide');
				$('#windowIdSelec').modal('hide');
				$('#windowVCIssue').modal('hide');

				// Show the desired modal window:
				$('#modal-body-id').attr('style', "height: 150px;");
				$('#identity-sources-button-error').attr('style', "display: none;");

				$('#identity-sources-select-buttons').attr('style', "display: block;");

				$('#windowAddID').modal('show');

			} else if (mode == 'IDRecon') {
				// Close other modal windows:
				$('#windowAddID').modal('hide');
				$('#windowVCIssue').modal('hide');

				// Config idSelec modal window
				$('#windowIdSelec').modal('hide');

				$('#idSelec-selector').attr('style', "display: block;");
				$('#idSelec-error').attr('style', "display: none;");
				$('#idSelec-request-sent-auto').attr('style', "display: none;");
				$('#idSelec-request-sent-manual').attr('style', "display: none;");
				$('#idSelec-request-not-sent').attr('style', "display: none;");

				// Show the desired modal window:
				$('#modal-body-id').attr('style', "height: 150px;");
				$('#reconciliation-methods-button-error').attr('style', "display: none;");

				$('#reconciliation-methods-select-buttons').attr('style', "display: block;");
	
				$('#windowIdRecon').modal('show');

			} else if (mode == 'VCIssue') {

				// Close other modal windows:
				$('#windowAddID').modal('hide');
				$('#windowIdSelec').modal('hide');
				$('#windowIdRecon').modal('hide');

				// Config VCIssue modal window
				$('#windowVCIssue').modal('hide');

				// Show the desired modal window:
				$('#modal-body-id').attr('style', "height: 150px;");
				$('#vcissuing-methods-button-error').attr('style', "display: none;");
				$('#vcissuing-identity-button-error').attr('style', "display: none;");				
				$('#vcissuing-methods-select-buttons').attr('style', "display: block;");
	
				$('#windowVCIssue').modal('show');

			} else { // Any other option, error
				alert('ERROR: Mode not found');
			
			}

	    }	// funcModalWindow


	    function funcModalWindowPDS(mode) {

			if (mode == 'LOCAL') {

				$('#modal-body-id').attr('style', "height: 150px;");
				$('#cloud-select-buttons').attr('style', "display: none;"); 
				$('#local-select-buttons').attr('style', "display: block;");
				$('#local-button-error').attr('style', "display: none;");

				$('#windowLocalPDS').modal('show');

			} else if (mode == 'CLOUD') {

				$('#modal-body-id').attr('style', "height: 150px;");
				$('#local-select-buttons').attr('style', "display: none;");
				$('#cloud-select-buttons').attr('style', "display: block;");
				$('#cloud-button-error').attr('style', "display: none;");

				$('#windowLocalPDS').modal('show');

			} else { // Any other option, error
				alert('ERROR');

			}

		}	// funcModalWindowPDS


		function validateFlag(url) {

			if (window.currentWindow.closed) {
				window.clearInterval(window.globalInterval)
				window.clearInterval(window.watchDogInterval)
			}

			urlTokenFlag = 'tokenFlag=' + sessionStorage.getItem('data');

			var xmlHttp = new XMLHttpRequest();

			xmlHttp.onreadystatechange = function() {

				if (xmlHttp.readyState == 4 && xmlHttp.status == 206) {
					console.log('vF-001');

				} else if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
					console.log('vF-002');
					window.clearInterval(window.globalInterval);
					window.clearInterval(window.watchDogInterval)
					window.currentWindow.close();
					location.href = url;

				} else if (xmlHttp.readyState == 4 && xmlHttp.status == 404) {
					console.log('vF-003');
					window.clearInterval(window.globalInterval);
					window.clearInterval(window.watchDogInterval)
					window.currentWindow.close();

					if (xmlHttp.responseText == 'ERROR') {
						console.log('vF-003-1');
						location.reload(true);
					} else {
						console.log('vF-003-2');
					}					
					
				} else if (xmlHttp.readyState == 4 && xmlHttp.status == 500) {
					console.log('vF-004');
					window.clearInterval(window.globalInterval);
					window.clearInterval(window.watchDogInterval)
					window.currentWindow.close();
					alert('An internal server error has been occurred. You are about to be redirected to the login page')
					window.location = '{{seal_endpoint}}';
					
				}	

			}	// onreadystatechange

			xmlHttp.open("GET", urlTokenFlag, true); // true for asynchronous
			xmlHttp.send();

		}	// function validateFlag
		

		function fillSelector(aIdList, aSelector){

			function getField(id, label) {
				var value = "";

				id.attributes.forEach(function(item) {

					if (item.friendlyName.toLowerCase() == label.toLowerCase()) {
						value = " - " + item.values[0];
					}

				});

				return value;
			}

			var dynamicSelect = document.getElementById(aSelector);

			aIdList.uniqueProviders.forEach(function(Provider) {

				var newGroupOption = document.createElement("optgroup");
				newGroupOption.label = Provider;

				aIdList.identitiesList.forEach(function(Identity) {

					if (Identity.provider == Provider) {

						var newOption = document.createElement("option");

						newOption.label = Identity.id.toString() + getField(Identity, "givenName");
						newOption.value = Identity.id;

						newGroupOption.appendChild(newOption);

					}

				});
	
				dynamicSelect.appendChild(newGroupOption);
			});

		} // fillSelector


		function cleanSelector(aSelector) {

			$('#'+aSelector).empty().append('<option disabled selected style="display: none" value="0">Select an Identity</option>');
			$('#idSelec-request-button').attr('disabled', true);

		}

		// The UPorto persistence window is opened
		function displaySubwindowGET(url) {
			window.currentWindow = window.open(url, "connectWindow", "width=700,height=700,menubar=0,location=yes,resizable=0,scrollbars=0,status=1");
			// var md = new MobileDetect(window.navigator.userAgent);
			// if(md.mobile()!=null){
			// 	sessionStorage.setItem('userDevice', 'Mobile');
			// }else{
			// 	sessionStorage.setItem('userDevice', 'Desktop');
			// }
		}


		function displaySubwindowPOST(url, token) {

			var f = document.getElementById('GenericForm');
			document.getElementById("GenericForm").action = url;
			f.msToken.value = token;

			window.currentWindow = window.open('', 'Generic-window', "width=700,height=700,menubar=0,location=yes,resizable=0,scrollbars=0,status=1");
			f.submit();

		}


		function idSelector(moduleID){

			UUID = sessionStorage.getItem('data');

			if (UUID) {

				var url = 'idSelec?data='+UUID;

					var xmlHttp = new XMLHttpRequest();

					xmlHttp.onreadystatechange = function() { 

						if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {

							var id_list = xmlHttp.responseText;

							id_list = JSON.parse( id_list )

							if (id_list) {
								// Identities Selector logic 

								// Identities Selector reset
								cleanSelector("datasetIDa");
								cleanSelector("datasetIDb");

								// Identities Selector load process
								fillSelector(id_list,"datasetIDa");
								fillSelector(id_list,"datasetIDb");

								// Setup buttons
								$('#idSelec-request-button').attr('onclick', "funcIdRecon('"+moduleID+"')");

								// Error message is hidden
								$('#idSelec-error').attr('style', "display: none;");

								// Identities Selector is displayed
								$('#idSelec-selector').attr('style', "display: block;");

							} else {

								// Error message is displayed (There is no identities to link)
								$('#idSelec-error').attr('style', "display: block;");

								// Identities Selector is hidden
								$('#idSelec-selector').attr('style', "display: none;");
							}
							
							// The parent modal window is closed
							$('#windowIdRecon').modal('hide');

							// Identities Selector modal window is displayed
							$('#windowIdSelec').modal('show');

						} // == 200
						
						if (xmlHttp.readyState == 4 && xmlHttp.status == 401) {

							alert('Your session has been expired, please try to authenticate again.')
							window.location = '{{seal_endpoint}}';	

						} // == 401

						if (xmlHttp.readyState == 4 && xmlHttp.status == 404) {

							$('#reconciliation-methods-button-error').attr('style', "display: block;");

							setTimeout(function(){ $('#reconciliation-methods-button-error').attr('style', "display: none;"); }, 2000);

						} // == 404

					}	// onreadystatechange

					xmlHttp.open("GET", url, true); // true for asynchronous
					xmlHttp.send();

			} else {
				alert('Your session has been expired, please try to authenticate again.')
				window.location = '{{seal_endpoint}}';				
			}

		} // idSelector

		//--------------------------------------------------------------------------------------------------

	    function funcAddID(moduleID) {

			if (window.globalInterval) {
				window.clearInterval(window.globalInterval)
				window.clearInterval(window.watchDogInterval)
			}

			if (window.currentWindow) {
				window.currentWindow.close()
			}

			UUID = sessionStorage.getItem('data');

			if (UUID) {

				var url = window.location.href + 'addID?moduleID='+moduleID+'&data='+UUID;

				var xmlHttp = new XMLHttpRequest();

				xmlHttp.onreadystatechange = function() {

					if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {	

						var params = xmlHttp.responseText.split("&");
						var address = params[0];
						var msToken = params[1];

						$('#windowAddID').modal('hide');

						window.globalInterval = window.setInterval(function() { validateFlag("") }, window.intervalTimerValue)
						window.watchDogInterval = window.setInterval(function() { 
							if (window.currentWindow) {
								window.currentWindow.close()
							}
							window.clearInterval(window.globalInterval)
							window.clearInterval(window.watchDogInterval)
							alert("Timeout has been reached, please try to access again.")
						}, window.watchdogTimerValue)

						displaySubwindowPOST(address, msToken);

					}	// == 200

					if (xmlHttp.readyState == 4 && xmlHttp.status == 401) {

						alert('Your session has been expired, please try to authenticate again.')
						window.location = '{{seal_endpoint}}';	

					} // == 401

					if (xmlHttp.readyState == 4 && xmlHttp.status == 404) {

						// Showing error message
						$('#identity-sources-button-error').attr('style', "display: block;");

						// The message error is displayed for 2 seconds and hidden
						setTimeout(function(){ $('#identity-sources-button-error').attr('style', "display: none;"); }, 2000);
					
					}	// == 404

				}	// onreadystatechange

				xmlHttp.open("GET", url, true); // true for asynchronous
				xmlHttp.send();	

			} else {

				alert('Your session has been expired, please try to authenticate again.')
				window.location = '{{seal_endpoint}}';

			}

		}	// funcAddID


		function funcIdRecon(moduleID) {

			if (window.globalInterval) {
				window.clearInterval(window.globalInterval)
				window.clearInterval(window.watchDogInterval)
			}

			if (window.currentWindow) {
				window.currentWindow.close()
			}

			UUID = sessionStorage.getItem('data');
			if(UUID){

				var url = 'idRecon/?moduleID='+moduleID+'&data='+UUID;

				var formData = new FormData();
				formData.append("datasetIDa", document.getElementById('datasetIDa').value);
				formData.append("datasetIDb", document.getElementById('datasetIDb').value);

				var xmlHttp = new XMLHttpRequest();

				xmlHttp.onreadystatechange = function() {

					if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {	

						var params = xmlHttp.responseText.split("&");
						var address = params[0]
						var msToken = params[1]

						window.globalInterval = window.setInterval(function() { validateFlag("") }, window.intervalTimerValue)
						window.watchDogInterval = window.setInterval(function() { 
							if (window.currentWindow) {
								window.currentWindow.close()
							}
							window.clearInterval(window.globalInterval)
							window.clearInterval(window.watchDogInterval)
							alert("Timeout has been reached, please try to access again.")
						}, window.watchdogTimerValue)

						if(moduleID == 'autoSEAL') {

							$('#idSelec-request-sent-auto').attr('style', "display: block;");

						} else if(moduleID == 'manualXYZ') {

							$('#idSelec-request-sent-manual').attr('style', "display: block;");
						}

						displaySubwindowPOST(address, msToken);

					}	// == 200

					if (xmlHttp.readyState == 4 && xmlHttp.status == 401) {

						alert('Your session has been expired, please try to authenticate again.')
						window.location = '{{seal_endpoint}}';	

					} // == 401

					if (xmlHttp.readyState == 4 && xmlHttp.status == 404) {

						// Showing the request error message
						$('#idSelec-request-not-sent').attr('style', "display: block;");
				
					}	// == 404

				}	// onreadystatechange

				xmlHttp.open("POST", url, true); // true for asynchronous
				xmlHttp.send(formData);

				$('#idSelec-selector').attr('style', "display: none;");

			}else {

				alert('Your session has been expired, please try to authenticate again.')
				window.location = '{{seal_endpoint}}';

			}

		}	// funcIdRecon


	    function funcVCIssue(moduleID) {

			if (window.globalInterval) {
				window.clearInterval(window.globalInterval)
				window.clearInterval(window.watchDogInterval)
			}

			if (window.currentWindow) {
				window.currentWindow.close()
			}

			UUID = sessionStorage.getItem('data');

			if (UUID) {

				var url = window.location.href + 'vcIssue?moduleID='+moduleID+'&data='+UUID;

				var xmlHttp = new XMLHttpRequest();

				xmlHttp.onreadystatechange = function() {

					if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {	

						var params = xmlHttp.responseText.split("&");
						var address = params[0] +'/' + moduleID.toLowerCase();
						var msToken = params[1];

						$('#windowVCIssue').modal('hide');

						window.globalInterval = window.setInterval(function() { validateFlag("") }, window.intervalTimerValue)
						window.watchDogInterval = window.setInterval(function() { 
							if (window.currentWindow) {
								window.currentWindow.close()
							}
							window.clearInterval(window.globalInterval)
							window.clearInterval(window.watchDogInterval)
							alert("Timeout has been reached, please try to access again.")
						}, window.watchdogTimerValue)

						displaySubwindowGET(address+'?msToken='+ msToken);

					}	// == 200

					if (xmlHttp.readyState == 4 && xmlHttp.status == 401) {

						if (xmlHttp.responseText == 'NO_IDENTITY') {

							// Showing error message
							$('#vcissuing-identity-button-error').attr('style', "display: block;");

							// The message error is displayed for 2 seconds and hidden
							setTimeout(function(){ $('#vcissuing-identity-button-error').attr('style', "display: none;"); }, 3000);


						} else if (xmlHttp.responseText == 'NO_SESSION') {

							alert('Your session has been expired, please try to access again.')
							window.location = '{{seal_endpoint}}';	

						} else {
							alert('401 error received, redirecting to access page.')
							window.location = '{{seal_endpoint}}';	
						}

					} // == 401

					if (xmlHttp.readyState == 4 && xmlHttp.status == 404) {

						// Showing error message
						$('#vcissuing-methods-button-error').attr('style', "display: block;");

						// The message error is displayed for 2 seconds and hidden
						setTimeout(function(){ $('#vcissuing-methods-button-error').attr('style', "display: none;"); }, 2000);
					
					}	// == 404

				}	// onreadystatechange

				xmlHttp.open("GET", url, true); // true for asynchronous
				xmlHttp.send();	

			} else {

				alert('Your session has been expired, please try to authenticate again.')
				window.location = '{{seal_endpoint}}';

			}

		}	// funcVCIssue


		function funcIdDeriv(moduleID) {

			if (window.globalInterval) {
				window.clearInterval(window.globalInterval)
				window.clearInterval(window.watchDogInterval)
			}

			if (window.currentWindow) {
				window.currentWindow.close()
			}

			UUID = sessionStorage.getItem('data');
			if(UUID){

				var url = window.location.href + 'idDeriv?moduleID='+moduleID+'&data='+UUID;

				var xmlHttp = new XMLHttpRequest();

				xmlHttp.onreadystatechange = function() {

					if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {	

						var params = xmlHttp.responseText.split("&");
						var address = params[0]
						var msToken = params[1]

						window.globalInterval = window.setInterval(function() { validateFlag("") }, window.intervalTimerValue)
						window.watchDogInterval = window.setInterval(function() { 
							if (window.currentWindow) {
								window.currentWindow.close()
							}
							window.clearInterval(window.globalInterval)
							window.clearInterval(window.watchDogInterval)
							alert("Timeout has been reached, please try to access again.")
						}, window.watchdogTimerValue)

						displaySubwindowGET(address+'?msToken='+ msToken);

					}	// == 200

					if (xmlHttp.readyState == 4 && xmlHttp.status == 401) {

						if (xmlHttp.responseText == 'NO_IDENTITY') {

							// Showing error message
							alert('Please, try to authenticate first before deriving an identity');

						} else if (xmlHttp.responseText == 'NO_SESSION') {

							alert('Your session has been expired, please try to access again.')
							window.location = '{{seal_endpoint}}';	

						} else {
							alert('401 error received, redirecting to access page.')
							window.location = '{{seal_endpoint}}';	
						}

					} // == 401

					if (xmlHttp.readyState == 4 && xmlHttp.status == 404) {

						// Showing error message
						alert('This functionality is currently unavailable.')
					
					}	// == 404

				}	// onreadystatechange

				xmlHttp.open("GET", url, true); // true for asynchronous
				xmlHttp.send();	

			} else {

				alert('Your session has been expired, please try to authenticate again.')
				window.location = '{{seal_endpoint}}';

			}


		}	// funcIdDeriv


		function funcLocalStorePDS(moduleID) {

			// The variable for the interval is resetted
			if (window.globalInterval) {
				window.clearInterval(window.globalInterval)
				window.clearInterval(window.watchDogInterval)
			}

			if (window.currentWindow) {
				window.currentWindow.close()
			}


			UUID = sessionStorage.getItem('data');

			if (UUID) {

				var url = 'storeLocalPDS?moduleID=' + moduleID + '&data='+UUID;

				var xmlHttp = new XMLHttpRequest();

				xmlHttp.onreadystatechange = function() { 

					if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {

						var params = xmlHttp.responseText.split("&");
						var address = params[0];
						var msToken = params[1];

						var url_UI_uporto = address + '?msToken=' + msToken;

						$('#windowLocalPDS').modal('hide');

						window.globalInterval = window.setInterval(function() { validateFlag("") }, window.intervalTimerValue)
						window.watchDogInterval = window.setInterval(function() { 
								if (window.currentWindow) {
									window.currentWindow.close()
								}
								window.clearInterval(window.globalInterval)
								window.clearInterval(window.watchDogInterval)
								alert("Timeout has been reached, please try to access again.")
						}, window.watchdogTimerValue)

						displaySubwindowGET(url_UI_uporto);

					}

					if (xmlHttp.readyState == 4 && xmlHttp.status == 401) {

						alert('Your session has been expired, please try to access again.')
						window.location = '{{seal_endpoint}}';	

					} // == 401

					if (xmlHttp.readyState == 4 && xmlHttp.status == 404) {

						$('#local-button-error').attr('style', "display: block;");

						setTimeout(function(){ $('#local-button-error').attr('style', "display: none;"); }, 2000);
					}

				}	// onreadystatechange

				xmlHttp.open("GET", url, true); // true for asynchronous
				xmlHttp.send();
			
			} else {

				alert('Your session has been expired, please try to access again.')
				window.location = '{{seal_endpoint}}';

			}

		}	// funcLocalStorePDS


		function funcCloudStorePDS(moduleID) {

			if (window.globalInterval) {
				window.clearInterval(window.globalInterval)
				window.clearInterval(window.watchDogInterval)
			}

			if (window.currentWindow) {
				window.currentWindow.close()
			}

			UUID = sessionStorage.getItem('data');

			if (UUID) {

				var url = 'storeCloudPDS?moduleID=' + moduleID + '&data='+UUID;

				var xmlHttp = new XMLHttpRequest();

				xmlHttp.onreadystatechange = function() { 

					if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {

						var params = xmlHttp.responseText.split("&");
						var address = params[0];
						var msToken = params[1];

						var url_UI_uporto = address + '?msToken=' + msToken;

						$('#windowLocalPDS').modal('hide');

						window.globalInterval = window.setInterval(function() { validateFlag("") }, window.intervalTimerValue)
						window.watchDogInterval = window.setInterval(function() { 
								if (window.currentWindow) {
									window.currentWindow.close()
								}
								window.clearInterval(window.globalInterval)
								window.clearInterval(window.watchDogInterval)
								alert("Timeout has been reached, please try to access again.")
						}, window.watchdogTimerValue)

						displaySubwindowGET(url_UI_uporto);

					}

					if (xmlHttp.readyState == 4 && xmlHttp.status == 401) {

						alert('Your session has been expired, please try to access again.')
						window.location = '{{seal_endpoint}}';	

					} // == 401

					if (xmlHttp.readyState == 4 && xmlHttp.status == 404) {

						$('#cloud-button-error').attr('style', "display: block;");

						setTimeout(function(){ $('#cloud-button-error').attr('style', "display: none;"); }, 2000);
					}

				}	// onreadystatechange

				xmlHttp.open("GET", url, true); // true for asynchronous
				xmlHttp.send();
			
			} else {

				alert('Your session has been expired, please try to access again.')
				window.location = '{{seal_endpoint}}';

			}

		}	// funcCloudStorePDS

	</script>
{% endblock %}